#!/usr/bin/env bash
set -euo pipefail

{{- if eq (get .chezmoi.osRelease "id") "ubuntu" }}
sudo apt update
sudo apt install -y curl git ca-certificates libatomic1 libicu78 build-essential bubblewrap passwd zsh
sudo apt autoremove -y
{{- end }}
