brew "chezmoi"
brew "eza"
brew "fzf"
brew "gemini-cli"
brew "gh"
brew "git"
brew "mise"
brew "opencode"
brew "powershell"
brew "starship"
brew "zoxide"

{{- if eq .chezmoi.os "linux" }}
brew "bubblewrap"
brew "tailscale"
{{- end }}

cask "claude-code"
cask "codex"

{{- if eq .chezmoi.os "darwin" }}
cask "aldente"
cask "appcleaner"
cask "chatgpt"
cask "claude"
cask "cleanshot"
cask "codex-app"
cask "font-jetbrains-mono-nerd-font"
cask "betterdisplay"
cask "google-chrome"
cask "ghostty"
cask "handy"
cask "microsoft-edge"
cask "microsoft-outlook"
cask "microsoft-teams"
cask "mos"
cask "opencode-desktop"
cask "orbstack"
cask "raycast"
cask "tailscale-app"
cask "ticktick"
cask "visual-studio-code"
cask "zen"
{{- end }}
