brew "chezmoi"
brew "bitwarden-cli"
brew "eza"
brew "fzf"
brew "gemini-cli"
brew "gh"
brew "git"
brew "jq"
brew "mise"
brew "neovim"
brew "opencode"
brew "powershell"
brew "starship"
brew "zoxide"

cask "claude-code"
cask "codex"

{{- if eq .chezmoi.os "darwin" }}
cask "aldente"
cask "appcleaner"
cask "bitwarden"
cask "chatgpt"
cask "claude"
cask "cleanshot"
cask "codex-app"
cask "focusrite-control-2"
cask "font-jetbrains-mono-nerd-font"
cask "google-chrome"
cask "ghostty"
cask "handy"
cask "helium-browser"
cask "logi-options+"
cask "microsoft-office-businesspro"
cask "microsoft-edge"
cask "mos"
cask "opencode-desktop"
cask "orbstack"
cask "raycast"
cask "rectangle-pro"
cask "spotify"
cask "stats"
cask "tailscale-app"
cask "ticktick"
cask "visual-studio-code"
cask "windows-app"
{{- end }}
